# =====================
# Python backend
# =====================
__pycache__/
*.pyc
.venv/
.env
resume_uploads/

# =====================
# Node / Frontend (Vite + React + Tailwind)
# =====================
node_modules/
dist/
build/
.vite/
.eslintcache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# =====================
# K8s secrets (VERY IMPORTANT)
# =====================
k8s/**/secret.yaml
k8s/**/backend-secret.yaml
k8s/**/postgres-secret.yaml